.container {
    display: flex;
    gap: 31px;
    align-items: center;
}

.sort {
    opacity: 0.7;
    color: #ffffff;
    text-transform: uppercase;
}

.release {
    display: flex;
    gap: 13px;
    color: #ffffff;
    text-transform: uppercase;
}

.triangle-down {
    align-self: center;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    border-top: 6px solid var(--soft-red);
}