.container {
    padding: 37px 0 60px 0;
    background-color: var(--dark-grey);
}

.wrapper {
    display: grid;
    row-gap: 30px;
    width: 1084px;
    margin: 0 auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.7s;
}

.search-button:hover {
    opacity: 0.7;
}

.movie-details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    column-gap: 60px;
}

.movie-heading {
    margin-bottom: 30px;
}

.title {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.rating {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-left: 25px;
    font-size: 20px;
}

.genre {
    color: #ffffff;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 300;
}

.year-time-container {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
    color: var(--soft-red);
    font-size: 24px;
    font-weight: 300;
}

.overview {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 300;
}