.container {
    display: grid;
    row-gap: 13px;
}

.input-container {
    position: relative;
    display: grid;
    row-gap: 13px;
}

.label {
    font-size: 16px;
    letter-spacing: 1px;
    color: #F65261;
}

.input {
    background-color: #323232;
    border: none;
    border-radius: 4px;
    padding: 15px;
    color: #ffffff
}

.input::placeholder {
    color: #ffffff;
    opacity: 0.3;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.input {
    appearance: textfield;
    -moz-appearance: textfield;
}

.error {
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
}