.container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 3fr 1fr;
    column-gap: 14px;
}

.button {
    padding: 15px 73px 15px 73px;
    color: #ffffff;
    background-color: #F65261;
    font-size: 20px;
}